.full.svelte-1svnmmj {
    place-items: center;
    margin-bottom: 4vh;
  }
  .sqwrap.svelte-1qd3yq2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(green, transparent);
    height: 4vh;
  }
  .square.svelte-1qd3yq2 {
    width: 40vw;
    position: relative;
    border: 4px dotted green;
    height: 4vh;
  }
  .overlay.svelte-1qd3yq2 {
    position: relative;
  }
  .full.svelte-1qd3yq2 {
    width: 100vw;
    height: 100vh;
    background: black;
    display: grid;
    place-items: center;
  }
  