.full.svelte-vlbq6e {
  place-items: center;
}
.sqwrap.svelte-ua7ztl {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(green, transparent);
  height: 1vh;
}
.square.svelte-ua7ztl {
  width: 40vw;
  position: relative;
  border: 4px solid green;
  height: 1vh;
}
.overlay.svelte-ua7ztl {
  position: relative;
}
main.svelte-ua7ztl {
    width: 100vw;
    height: 1000vh;
    background: white;
    display: grid;
    justify-items: center;
    padding-top: 30vh;
}
